<tr id="<%= dom_id book, index %>">
      <th scope="row"><%= index %></th>
      <td> <%= book.idStudent_260 %> </td>
      <td> <%= book.fullname_260 %> </td>
      <td> <%= book.standard_260 %> </td>
      <td> <%= book.idBook_260 %> </td>
      <td> <%= book.author_260 %> </td>
      <td> <%= book.bookType_260 %> </td>
      <td> <%= book.NumBM_260 %> </td>
      <td> <%= book.dateBegin_260 %> </td>
      <td> <%= book.dateEnd_260 %> </td>
      <td> <%= book.totalDate %> </td>
      <td> <%= link_to "Show this book", book %> </td>
</tr>
